backend/venv
backend/env
env
venv

*.__pycache__/
__pycache__/*
/__pycache__
__pycache__/

**/migrations/**
!**/migrations
!**/migrations/__init__.py
db.sqlite3
.env
backend/nohup.out
.vscode
frontend/node_modules
backend/media