<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <meta charset="UTF-8" />
    <title>Hello, world!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />``
  </head>
  <body style="height: 70vh; margin: 0; background-color: #f2f1fa;">
    <div style="height: 100%;padding-top:7%;">
      <div style="border-radius: 5px; width: 550px; height: 400px; margin: auto; background-color: #ffffff; padding: 40px;">
        <p style="color: solid black; font-weight: bold; font-size: 21px; font-family: Arial;">Hii there!</p>
        <div style="margin-top: 16px; margin-bottom: 25px;">
          <p style="font-family: Arial; font-size: 17px; line-height: 24px;">
            You have requested a password reset for your account. Click the button below to enter a new password for your account!
          </p>
        </div>
        <div style="text-align: center; padding-top: 20px;">
          <button style="background-color: #3100ff; border-radius: 8px; text-align: center; color: white; margin: auto; padding: 15px; font-size: 20px; font-weight: bold; border: none;" type="button" id="resetButton">
            <a href="{{ reset_link }}" target="_blank" style="color:#fff;text-decoration:none;font-size:1rem;">Reset password</a>
          </button>
          <p style="margin-top: 0px; font-family: Arial; font-size: 17px;">Link is valid for the next 3 days only!</p>
        </div>
        <p style="font-family: Arial; font-size: 17px; margin-top: 90px;">Thanks for using Zappychat.</p>
        <div style="margin-top: 30px; margin-bottom: 30px;">
          <p style="font-family: Arial; font-size: 13px; line-height: 18px;">Kind regards, <br />The Zappychat Team.</p>
        </div>
      </div>
        <p style="text-align: center; font-family: Arial; font-size: 15px;">Copyright &copy; <span style="color: #3100ff;">Zappychat.</span></p>
    </div>
  </body>
</html>
