.copyicon {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.copyicon .copyicontext {
  visibility: hidden;
  width: fit-content;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.1em;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.copyicon .copyicontext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.copyicon:hover .copyicontext {
  visibility: visible;
  opacity: 1;
}

.edit {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.edit .edittext {
  visibility: hidden;
  width: fit-content;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.1em;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -23px;
  opacity: 0;
  transition: opacity 0.3s;
}

.edit .edittext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.edit:hover .edittext {
  visibility: visible;
  opacity: 1;
}

.delete {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.delete .deletetext {
  visibility: hidden;
  width: fit-content;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.1em;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -32px;
  opacity: 0;
  transition: opacity 0.3s;
}

.delete .deletetext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.delete:hover .deletetext {
  visibility: visible;
  opacity: 1;
}

.details {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.details .detailstext {
  visibility: hidden;
  width: max-content;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.1em;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -42px;
  opacity: 0;
  transition: opacity 0.3s;
}

.details .detailstext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.details:hover .detailstext {
  visibility: visible;
  opacity: 1;
}

.SlideModal {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: mymove;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 50px;
  }
}
